/*  Pallete (colors picked from vaporwave 
 *  ahh sodium vapor lighting pictures from 
 *  Pintrest)
 * 
 *  #F9B302
 *  #FF9430
 *  #9CAD00
 *  #325132
 *  #1C1210
 */

:root {
    --pall-1: #f9b302;
    --pall-2: #ff9430;
    --pall-3: #9cad00;
    --pall-4: #325132;
    --pall-5: #1c1210;

    --rotation: 0deg;
}

html {
    background-color: var(--pall-5);
    color: var(--pall-3);
}

body {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--pall-4);    
}

a:visited {
    color: var(--pall-3);
}

hr {
    margin: 0px;
    padding: 0px;
    border-color: var(--pall-3);
}

.title {
    position: relative;
    font-size: 35px;
    color: var(--pall-1);
    padding: 1px;
    height: 35px;
    width: fit-content;
    text-align: left;
    border-right-color: var(--pall-3);
    border-right-width: 2px;
    border-right-style: solid;
}

.newsticker {
    border-style: solid;
    border-width: 2px;
    border-right: 0px;
    border-left: 0px;
    font-size: 17px;
}

.newsticker-content {
    color: var(--pall-1);
}

.slate {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: absolute;
    padding: 0px;
    margin: 1px;
    border: solid;
    border-color: #0000;
    border-width: 17px 3px 3px 3px;
    background-color: #0000;
    background-image: url(MenuControls.svg);
    background-repeat: no-repeat;
    background-size: 156px 170px;
    background-position: -3px -17px;
    background-clip: none;
}

.slate-title {
    position: relative;
    display: inline;
    font-size: 17px;
    color: var(--pall-1);
    padding: 1px;
    height: 17px;
    width: fit-content;
    text-align: left;
    border-right-color: var(--pall-3);
    border-right-width: 2px;
    border-right-style: solid;
}

.slate-container {
    width: 76%;
    height: 85vh;
    background-color: var(--pall-4);
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
    padding: 2px;
}

.virtual-svg {
    visibility: hidden;
    display: none;
}

.up-arrow {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    display: inline-block;
    border-top: solid 3px;
    border-left: solid 3px;
}