html {
    background-color: #000000;
    color: #ffffff;
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 0px;
    padding: 0px;
}

.title {
    position: relative;
    font-size: 35px;
    padding: 1px;
    height: 35px;
    width: fit-content;
    text-align: left;
    border-right-color: #ffffff;
    border-right-width: 2px;
    border-right-style: solid;
}