/*  Pallete (colors picked from vaporwave 
 *  ahh sodium vapor lighting pictures from 
 *  Pintrest)
 * 
 *  #F9B302
 *  #FF9430
 *  #9CAD00
 *  #325132
 *  #1C1210
 */

:root {
    --pall-1: #f9b302;
    --pall-2: #ff9430;
    --pall-3: #9cad00;
    --pall-4: #325132;
    --pall-5: #1c1210;

    --rotation: 0deg;
}

html {
    background-color: var(--pall-5);
    color: var(--pall-3);
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 0px;
    padding: 0px;
    border-color: var(--pall-3);
}

.title {
    position: relative;
    font-size: 35px;
    color: var(--pall-1);
    padding: 1px;
    height: 35px;
    width: fit-content;
    text-align: left;
    border-right-color: var(--pall-3);
    border-right-width: 2px;
    border-right-style: solid;
}

.newsticker {
    border-style: solid;
    border-width: 2px;
    border-right: 0px;
    border-left: 0px;
    font-size: 17px;
}

.newsticker-content {
    color: var(--pall-1);
}

.slateContainer {
    width: 60%;
    height: 100vh;
    background-color: var(--pall-4);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding: 0px;
}

.slate {
    border-top-width: 9px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    top: 90px;
    width: 150px;
    height: 150px;
    transition: 0.7s;
    animation-timing-function: linear;
}



.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}



.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0px;
    }
}